{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/user_detail.css' %}" rel="stylesheet">

  </head>
  <body>

<div class="row">
<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
<div class="well profile">
<div class="col-sm-12">
<div class="col-xs-12 col-sm-8">
<h2>{{ account.username }}</h2>
<p><strong>Полное имя: </strong> {{ account.first_name }} {{ account.second_name }}</p>
<p><strong>Email: </strong> {{ account.email }}</p>
<p><strong>Обо мне: </strong> Веб-дизайнер. </p>
<p><strong>Хобби: </strong> Книги, природа, активный отдых, сайтостроение, дизайн, верстка </p>
<p><strong>Знания: </strong>
<span class="tags">HTML5</span>
<span class="tags">CSS3</span>
<span class="tags">jQuery</span>
<span class="tags">Bootstrap</span>
</p>
</div>
<div class="col-xs-12 col-sm-4 text-center">
<figure>
<img src="{{ account.userpic.url }}" alt="user" class="img-circle img-responsive">
<figcaption class="ratings">
<p>Рейтинг
<a href="#">
<span class="fa fa-star"></span>
</a>
<a href="#">
<span class="fa fa-star"></span>
</a>
<a href="#">
<span class="fa fa-star"></span>
</a>
<a href="#">
<span class="fa fa-star"></span>
</a>
<a href="#">
<span class="fa fa-star-o"></span>
</a>
</p>
</figcaption>
</figure>
</div>
</div>
<div class="col-xs-12 divider text-center">
<div class="col-xs-12 col-sm-4 emphasis">
<h2><strong> 32,4K </strong></h2>
<p><small>Подписчиков</small></p>
<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Подписатся</button>
</div>
<div class="col-xs-12 col-sm-4 emphasis">
<h2><strong>723</strong></h2>
<p><small>Записей</small></p>
<button class="btn btn-info btn-block"><span class="fa fa-user"></span> Профиль</button>
</div>
<div class="col-xs-12 col-sm-4 emphasis">
<h2><strong>74</strong></h2>
<p><small>Работы</small></p>
<div class="btn-group dropup btn-block">
<button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Опции</button>
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu text-left" role="menu">
<li><a href="#"><span class="fa fa-envelope pull-right"></span> Отправить email </a></li>
<li><a href="#"><span class="fa fa-list pull-right"></span> Редактировать список</a></li>
<li class="divider"></li>
<li><a href="#"><span class="fa fa-warning pull-right"></span>Сообщить о спаме</a></li>
<li class="divider"></li>
<li><a href="#" class="btn disabled" role="button"> Отписатся </a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>
</html>